# 사용하지 않는 이미지/파일
image1.png
image2.png
image3.png
image4.png
image5.png
image6.png
image7.png
image8.png
image9.png
image10.png
Image6.png
G.png
Brand.png
Yellow.png
Orange.png
"Product video.mp4"
Product video.mp4
Video2.mp4

# macOS
.DS_Store
